.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.grid-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.date-cell {
  /* border-bottom: 1px solid #ddd; */
  /* padding: 0.5rem; */
  width: 100%;
  /* margin-left: 10px; */
  text-align: start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  min-width: 100px;
  
}

.date-cell.empty.five-weeks,
.date-cell.date.five-weeks {
  height: 80px;
}

.date-cell.empty.six-weeks,
.date-cell.date.six-weeks {
  height: 68px;
}

.grid-cols-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 5px; */
}

.yoil-cell {
  /* min-height: auto; */
  color: black;
  font-weight: bold;
}

.sp_yoil {
  padding-left: 7px;
}

.text-holiday {
  font-size: 11px;
  color: #000;
}

.sp_holiday {
  color: red;
}

.text-red-500 {
  color: red;
  /* border-bottom: 1px solid red; */
}

.text-gray-500 {
  color: gray;
  /* border-bottom: 1px solid grey; */
}

.date_gray {
  color: gray;
}

.date_red {
  color: red;
}

.today-cell {
  /* border-radius: 50%; */
  /* background-color: #f0f0f0; */
  font-weight: bold;
  /* min-width: 50px; */
  text-decoration: underline;
}

.shiftwork_name {
  color: black;
  text-align: center;
  font-size: 12px;
}

.date-text {
  width: 100%;
  padding-left: 7px;
}

.div_header_container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.div_header_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

.react-datepicker-popper {
  top: -20px !important;
}

.div_header_year,
.div_header_month {
  width: 15%;
}

.div_header_container .div_legend_container {
  display: flex;
  width: 35%;
  justify-content: center;
  border-radius: 3px;
  /* border: 1px solid gray; */
  padding: 5px;
}
.div_header_container .div_legend {
  width: 22px;
  height: auto;
  margin-right: 5px;
}

.div_header_container .div_divider {
  width: 1px;
  background-color: #756f6f;
  margin: 0 7px;
}

.div_header_year {
  font-size: 12px;
}

.btn_prev_month,
.btn_next_month {
  background-color: #ffffff;
  font-size: 15px;
}

.btn_prev_month:hover,
.btn_next_month:hover {
  background-color: #ffffff;
  border-color: #f0f0f0;
}

.btn_prev_month .svg_left,
.btn_next_month .svg_right {
  width: 15px;
  height: 15px;
}

.shiftwork_day {
  background-color: bisque;
}
.shiftwork_evening {
  background-color: rgb(243, 188, 237);
}
.shiftwork_night {
  background-color: rgb(146, 168, 236);
}


@media (max-width: 480px) {
  .date-cell {
    max-width: 100px;
    min-width: 50px;
  }


  .date-cell.empty.five-weeks,
  .date-cell.date.five-weeks {
    height: 75px;
  }

  .date-cell.empty.six-weeks,
  .date-cell.date.six-weeks {
    height: 63px;
  }
}