#root {
  width:100%;
  /* max-width: 1280px;   */
   margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*브라우저 다크 모드일 때 스크롤 바 색상 적용*/
/* Chrome/Safari/Edge (WebKit) */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff; /* 스크롤바 바탕 흰색 */
  }
  ::-webkit-scrollbar-thumb { /* 스크롤바 */
    background-color: #c9c9c9; 
    border-radius: 8px;
    border: 2px solid #ffffff;
  }
}

/* Firefox */
@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #c9c9c9 #ffffff;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
